* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: rgb(34,46,11);
  background: linear-gradient(316deg, rgb(137 137 137) 0%, rgb(61 70 43) 50%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 43%, rgba(64,89,16,1) 65%, rgba(0,0,0,1) 90%);
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: 6px 6px 11px;
  border-radius: 12px;
  filter: blur(8px);
  -webkit-filter: blur(0.3px);
  transition: all ease-in 0.2s;
}
.container .box:hover{
  transform: translateX(-5px)
}

.container .box .text {
  position: absolute;
  bottom: 0;
  height: 140px;
  padding: 10px;
  border-radius: 20px 20px 0 0;

}
.container .box .text h2{
color: #586000;
padding-bottom: 18px;
}
.container .box .text p{
color: rgb(199, 199, 199);
font-family: system-ui;
}
.container .box .text p span {
  font-weight: bold;
}
.container .box .text a{
  position: absolute;
  right: 0;
  top: 4px;
  text-decoration:none;
  padding: 4px 10px 4px 10px;
  border: 2px solid #000;
  margin: 3px 10px 0 0;
  color: rgb(0, 0, 0);
  background : rgba(64,89,16,1) 65%;
  font-weight: bold;
  font-family: monospace;
  transition: all ease-in .2s;
  border-radius: 6px;
  box-shadow: 0px 0px 10px green;
}
.container .box .text a:hover{
  transform: translateX(-5px);
}
.container .last-span{
  position: absolute;
  bottom: 0;
  color: #586000;
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 2px;
}