/* Card Template Styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    background-color: rgb(80, 80, 80);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container > .card-container{
    width: 400px;
    height: auto;
}
.card{
display: flex;
}
.card .card-image-content{
}
.card .card-image-content img{
    width: 100%;
}
.card .card-image-content span{
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card .card-detail{

}
.card .card-detail h3{

}
.card .card-detail p{
font-size: 14px;
}
.card .card-detail a{

}