/* Card Template Styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    background-color: rgb(29, 29, 29);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container > .card-container{
    width: 300px;
    height: auto;
}

.card {
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 0%) 0px 3px 6px, rgb(0 0 0 / 19%) 0px 3px 6px;
    position: relative;
    overflow: hidden;
    background-color: #efefef;
}

/* .card:hover {
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 40%) 0px 3px 6px;
} */

.card .card-image img {
    width: 100%;
    transition: ease 0.2s;
}
.card:hover .card-image img{
    transform: scale(1.04);
}
.card .card-content {
    position: relative;
    padding: 20px 28px 10px 28px;
}

.card .card-content span {
    position: absolute;
    right: 2px;
    top: -5px;
    font-size: 12px;
    color: #c7c7c7;
}

.card .card-content h2 {
    font-size: 20px;
    color: #a05652;
    padding-bottom: 10px;
}

.card .card-content h2::after {
    content: "";
    width: 40px;
    height: 2px;
    display: block;
    background-color: #a05652;
    transform: scaleX(0);
    transition: all ease 0.2s;
    transform-origin: left;
}

.card:hover .card-content h2::after {
    transform: scaleX(1);
}

.card .card-content  .card-text {
}

.card .card-content .card-text p {
    font-size: 14px;
    color: #5f5f5f;
}

.card .card-content .card-text .card-button {
 padding-top: 10px;
}

.card .card-content .card-text .card-button a {
    text-decoration: none;
    color: #898989;
    font-size: 14px;
}