/* Card Template Styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    background-color: black;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container > .card-container{
    width: 300px;
    height: auto;
}
.card{
    background-image: url("https://images.unsplash.com/photo-1549737221-bef65e2604a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
}
.card .card-content{
    background: linear-gradient(hsl(0 0% 0% /0), hsl(20 0% 0% /0.4) 30%, hsl(23deg 100% 38% / 70%));
    text-align: center;
 
}
.card .card-text{
}
.card .card-text h2{
    mix-blend-mode: screen;
    background: linear-gradient(hsl(0 0% 0% /0), hsl(29deg 48% 31% / 85%) 50%, hsl(0 0% 0% /0.7));
    padding: 12px;
    font-size: 30px;
}
/* .card:hover .card-text h2{
} */
.card .card-text p{
    color: white;
    padding: 0 12px 12px 12px;
    font-size: 12px;
}
.card .card-content .card-button {
    padding: 12px;
    
}
.card .card-content .card-button a{
    text-decoration: none;
    border: 1px solid white;
    color: aliceblue;
    border-radius: 14px;
    padding: 0px 25px;
}