/* Card Template Styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container > .card-container{
    width: 300px;
    height: auto;
}

/* Card Styles */

.card{
    background-image: url("https://pngimg.com/uploads/road/small/road_PNG9.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition-duration: 2s;
}
.card .card-body{
    transition-duration: 2s;
}
.card .card-body .card-image{
    transition-duration: 2s;
}
.card .card-body .card-image img{
}
.card .card-body:hover .card-image img{
    max-width: 138px;
    transition-duration: 0.2s;
    /* transform: translate(0px, -46px); */

}
.card .card-body .card-content span{}
.card .card-body .card-content h2{
}
.card .card-body:hover .card-content h2{
}
.card .card-body .card-content p{}