* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    filter: blur(0.5px);
    background: rgb(61, 61, 61);
    background: linear-gradient(177deg, rgb(27 27 27) 49%, rgb(25 25 25) 60%);
}

.background-text {
    margin: auto;
    z-index: 5;
    max-width: 500px;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    color: #fff;
    font-weight: bold;
    border: 5px inset rgb(111 74 39);
    background-image: url("https://images.unsplash.com/photo-1614787296891-d1b2b1aced36?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in 0.2s;
    position: absolute;
    bottom: 25%;
    right: 25%;
}

/* .background-text:hover {
    transform: translateY(5px);
} */

.background-text h1 {
    font-family: system-ui;
    font-size: 50px;
    margin: 0;
    color: rgb(231, 255, 146);
}

.background-text p {
    padding: 0 8%;
}

.background-text p:hover {
    background-image: linear-gradient(1deg, #110606, transparent);
    color:rgb(231, 255, 146);
    color: linear-gradient(0deg,
            rgba(231, 255, 146, 1) 0%,
            rgba(130, 139, 54, 1) 0%,
            rgba(166, 170, 80, 1) 38%,
            rgba(255, 248, 143, 1) 100%);
}

.background-text a {
    font-family: system-ui;
    display: inline-block;
    padding: 7px 30px;
    border: 2px solid rgb(111 74 39);
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    transition: all ease 0.2s;
    border-radius: 20px 0px 20px 0px
}

.background-text a:hover {
    transform: translateY(-5px);
    background-color: rgb(26, 26, 26);
    color:rgb(231, 255, 146);
    color:linear-gradient(0deg,
            rgba(231, 255, 146, 1) 0%,
            rgba(130, 139, 54, 1) 0%,
            rgba(166, 170, 80, 1) 38%,
            rgba(255, 248, 143, 1) 100%); 
}