html, body {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}

.container {
  width: 750px;
  height: 350px;
  background-color: rgb(244 244 255);
  display: flex;
  align-items: center;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.container .box {
  width: 550px;
  height: 290px;
  margin-left: 30px;
  background-color: rgb(244 244 255);
  display: flex;
  border: 1px solid darkgrey;
  border-radius: 5px;
  overflow: hidden;
}

.container .box .watch-img {
  width: 260px;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1458687293558-333901cff16a?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .box .watch-texts {
  padding-left: 15px;
}

.container .box .watch-texts h2 {
  color: rgb(176 140 52);
}

.container .box .watch-texts p{
  font-size: 18px;
}
.container .box .watch-texts span{
  color: #6d6d6d;
  font-size: 13px;
}