/* Card Template Styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    background: radial-gradient(#ffffff7a, #ffffff);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container > .card-container{
    width: 300px;
    height: auto;
}

/* Card Styles */

.card {
    background: radial-gradient(#ffffffbf, #ebb993);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.card .card-image {
    transform: skew(13deg, 347deg);
    padding: 30px 50px 5px 20px;
}
.card .card-image img{
    width: 100%;
    vertical-align: middle;
    transition: .15s;
}
.card:hover .card-image img{
    transform: scale(1.3) translateY(-15px);
}
.card .card-content-bk{
    background-image: linear-gradient(0deg , #ffffff, #c90d0df0);
    position: absolute;
    height: 100%;
    width: 110%;
    transform: skew(5deg, 349deg);
    border-radius: 15px;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 5px 18px 8px;
}
.card .card-content .content-logo{
    width: 50px;
    padding: 0px 10px;
}
.card .card-content .content-logo img{
    width: 100%;

}
.card .card-content .content-title h3{
padding: 0px 5px;
}

.card .card-content .content-title a{
    text-decoration: none;
    color: black;
    padding: 1px 15px;
    border: 1px solid;
    border-radius: 15px;
    position: absolute;
    top: 60px;
    right: 50px;
    font-weight: 700;
    font-size: 12px;
}
.card .card-content .content-title a:hover{
color: #c90d0df0 ;
background-color: black;
}