html, body {
  margin: 0px;
  padding: 0px;
}

.box {
  margin-left: 30px;
  background-color: rgb(244 244 255);
  display: flex;
  border: 1px solid darkgrey;
  border-radius: 5px;
  overflow: hidden;
}
.box .watch-img img {
  width: 100%;
  min-height: 204px;
}
.box .watch-img {
  /* width: 260px;
  height: 100%; */
}


.box .watch-texts {
  padding-left: 15px;
}

.box .watch-texts h2 {
  color: rgb(176 140 52);
}

.box .watch-texts p{
  font-size: 18px;
}
.box .watch-texts span{
  color: #6d6d6d;
  font-size: 13px;
}