* {
  margin: 0;
  padding: 0;
}

/* body {
  max-width: 465px;
  position: absolute;
  top: 5%;
  right: 35%;
} */

.card {
  max-width: 468px;
  min-width: 350px;
  min-height: 580px;
  background-color: rgb(200 210 255);
  border-radius: 6px;
  margin: 30px auto;
}

.card .card-body {
  background-image: url("https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=468&q=80");
  background-repeat: no-repeat;
  transform: rotate(6deg);
  max-width: 468px;
  min-width: 350px;
  min-height: 580px;
  border-radius: 6px;
  position: relative;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset
}

.card .card-body .card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.60);
  width: -webkit-fill-available;
  padding: 80px 0px 50px 30px;
}

.card .card-body .card-text h3 {
  font-family: system-ui;
  font-size: 25px;
  position: absolute;
  top: 25px;
  font-weight: lighter;
}

.card .card-body .card-text p {
  font-family: system-ui;
}

.card .card-body .card-text span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: cursive;
  font-size: 10px;
}