*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(111 107 103);
  }
  .card-container{
    display: flex;  
    max-width: 700px;
    min-height: 400px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
  }
  .card-container .card-detail{
    min-width: 150px;
    border-radius: 0px 75px 0px 0px;
    z-index: 1;
    background: rgb(209,209,209);
    background: linear-gradient(0deg, rgba(209,209,209,1) 18%, rgb(160 147 107) 100%, 100%, rgb(55 55 55) 100%);
    box-shadow: 0px 0px 10px;
  }
  .card-container .card-detail h2{
    padding: 20px;
    font-size: 35px;
    font-family: system-ui;
  }
  .card-container .card-detail p{
    padding: 22px;
  }
  .card-container .card-detail p .name{
    background: rgba(82,75,53,1);
    padding: 2px;
    border-radius: 7px;
    font-weight: bold;
    color: rgb(202 202 202);
  }
  .card-container .card-detail .muted-text{
    padding: 22px;
    color: gray;
  }
  .card-container .card-image{
    background-image: url("https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center left;
    position: relative;
    right: 85px;
    z-index: 0;
    min-width: 400px;
    border-radius: 0 10px 10px 0;
}